
<!-- footer -->
<footer class="bg-dark text-white">
    <div class="container bg-dark">
        <div class="row">
            <p class="text-center">
            Copyright © 2023 Elvis Hidalgo. All rights reserved.
            </p>
        </div>
    </div>
</footer>



<!-- End of footer -->