<% layout('layouts/boilerplate')%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 id="aboutHeading">About Us</h1>
            <p>Once upon a time, in a small town known for its love of all things sweet, a 
                passionate baker named Emma set out to turn her lifelong dream into reality. 
                In the year 2005, Emma opened the doors of "Sweet Haven Bakery," a quaint little bakery nestled in the heart of the 
                town. From the beginning, Sweet Haven Bakery captured the attention and taste buds of the locals with its freshly baked bread, 
                mouthwatering pastries, and irresistible cakes. Emma's commitment to using only the finest ingredients and her meticulous attention to detail 
                quickly earned her a loyal following. Word of Sweet Haven Bakery's delectable treats spread like wildfire, and soon people from neighboring 
                towns began making special trips just to savor Emma's creations. The bakery became a beloved gathering spot for friends, families, 
                and even travelers passing through. As the years went by, Sweet Haven Bakery continued to flourish. Emma's passion for baking 
                led her to constantly experiment with new flavors, designs, and techniques. She expanded her menu to include an array of 
                specialty cakes for weddings, birthdays, and other milestone celebrations, cementing Sweet Haven Bakery's reputation as
                 the go-to place for custom-designed cakes. In 2012, recognizing the growing demand for convenience, Sweet Haven Bakery 
                 embraced technology and launched an online ordering system. Customers could now easily browse through the bakery's offerings, 
                 place their orders, and have them delivered to their doorstep. This move further widened the bakery's reach, attracting 
                 customers from far and wide. The success and positive reputation of Sweet Haven Bakery led to expansion. In 2015, a 
                 second branch opened in a nearby bustling city, allowing even more people to experience the joy of Emma's baked creations. 
                 The new location featured a cozy café area where customers could relax, indulge in their favorite treats, and enjoy a warm
                  cup of coffee. Over the years, Sweet Haven Bakery actively engaged with the community by participating in local events, 
                  supporting charities, and hosting baking workshops. Emma's warm personality and dedication to her craft made her a beloved 
                  figure in the town and earned her the admiration of fellow bakers and aspiring entrepreneurs. Today, Sweet Haven Bakery 
                  stands as a testament to Emma's unwavering passion and commitment to creating exceptional baked goods. With multiple locations, 
                  a strong online presence, and a team of talented bakers, Sweet Haven Bakery continues to be a cherished destination for 
                  those seeking the perfect balance of taste, quality, and creativity. As the story of Sweet Haven Bakery unfolds, it 
                  remains a beacon of sweetness in the community, leaving a lasting impression on every customer fortunate enough to
                   taste Emma's delightful creations. </p>
        </div>
        <div class="col-md-3 mt-5">
            <img src="/img/about.jpg" class="img-fluid">
        </div>
        <div class="col-md-3 mt-5">
            <img src="/img/about2.jpg" class="img-fluid">

    </div>
</div>


</div>


