
    <% layout('layouts/boilerplate')%>


      <div class="mb-4 p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-5 fw-bold">
                        Sweet Delights: Indulge In Heavenly Cakes
                    </h1>
                    <p>
                        Welcome to Sweet Delights, your destination for heavenly cakes that will satisfy your sweet tooth and delight your taste buds. At Sweet Delights, 
                        we take pride in crafting exquisite cakes that are not only visually stunning but also bursting with flavor. From classic favorites to unique creations,
                         our talented team of bakers uses the finest ingredients to ensure each cake is a masterpiece. Whether you're celebrating a special 
                         occasion, hosting a gathering, or simply craving a slice of pure bliss, our cake store has something for everyone. Step into our 
                         charming bakery and immerse yourself in a world of delectable aromas and irresistible treats. Indulge in our wide selection of moist, 
                         decadent cakes, adorned with luscious frostings, delicate decorations, and personalized touches. At Sweet Delights, we believe that 
                         every cake tells a story, and we are dedicated to making your celebrations truly memorable. Experience the magic of our cakes and let 
                         us sweeten your moments with our passion for baking. 
                    </p>
                    <button class="btn btn-primary btn-lg" type="button"><a id="aboutBtn" href="/about">Learn More</a></button>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid mw-100 h-a" src="../img/intro-cake.jpg" alt="chocolate cake">
                </div>
            </div>
        </div>
      </div>

        <!--Card deck--->
        <div class="container">
            <h3>Our Services</h3>
            <p>At Sweet Delights, we offer a range of services to cater to all your cake-related needs. 
                Our goal is to provide a delightful experience and make your celebrations truly special. Here are some of the services we provide: </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../img/custom-cake.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Custom Cake Design</h5>
                            <p class="card-text">We specialize in creating custom-designed cakes that 
                                reflect your unique vision and style. Whether it's a wedding, birthday, 
                                baby shower, or any other special occasion, our talented team of cake artists will 
                                work closely with you to bring your dream cake to life. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../img/cupcake.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cupcakes and Mini Treats:</h5>
                            <p class="card-text">Indulge in our delightful assortment of cupcakes and 
                                mini treats. These bite-sized delights are perfect for parties, dessert tables, or simply as a sweet treat for yourself. 
                                With an array of flavors and designs, they are sure to please every palate. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="../img/wedding-cake.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wedding Cakes:</h5>
                            <p class="card-text">Make your big day even more memorable with our elegant 
                                and stunning wedding cakes. From classic tiered designs to modern 
                                masterpieces, our wedding cakes are crafted with meticulous attention to 
                                detail to complement your wedding theme and create a centerpiece that will leave a lasting impression. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        