#cardDeck {
    gap: 20px;
}

h1.display-5{
    font-weight: 500;
}

.bg-dark{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
}

.nav-link.active{
    color: #fff;
}

#aboutBtn{
    color: #fff;
    text-decoration: none;
}

#aboutHeading{
    text-align: center;
}

.form-check{
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
